<div>
  <div>
    <img src="/images/frames-for-your-heart-mR1CIDduGLc-unsplash.jpg" alt="">
  </div>
  <div>
    {{!-- top info --}}
    <div>
      <p>${{listing.price}}</p>
      <p>{{listing.city}}, {{listing.postal_code}}</p>
      <p>{{listing.listing_type}}</p>
    </div>
    <button> like </button>
  </div>
  <div>
    {{!-- bottom info --}}
    <p>{{listing.rooms}}</p>
    <p>{{listing.baths}}</p>
    <p>{{listing.city}}</p>
  </div>
</div>