<h1>Welcome to the Real Estate Homepage</h1>

  {{#if logged_in}}
    <p>Welcome, User!</p>
    <a href="/profile">Go to Profile</a>
  {{else}}
    <p>You are not logged in.</p>
    <a href="/login">Login</a>
  {{/if}}

  <h2>Listings</h2>
  <ul>
    {{#each listings}}
      <li>
        <h3>{{this.address}}</h3>
        <p>Price: ${{this.price}}</p>
        <p>Listing Type: {{this.listing_type}}</p>
        <p>Rooms: {{this.rooms}}</p>
        <p>Baths: {{this.baths}}</p>
        <p>city: {{this.city}}</p>
        <p>postal_code: {{this.postal_code}}</p>
        <p>address: {{this.address}}</p>
        <p>Agent: {{this.agent.name}}</p>
        <a href="/listing/{{this.id}}">View Listing</a>
      </li>
    {{/each}}
  </ul>

<h2>Agents</h2>
  <ul>
    {{#each agents}}
      <li>
        <h3>{{this.name}}</h3>
        <p>Email: {{this.email}}</p>
        <p>Phone: {{this.phone}}</p>
        <a href="/agent/{{this.id}}">View Agent</a>
      </li>
    {{/each}}
  </ul>